.container {
  background-color: #ffffff;
  max-width: 400px;
  margin: 10px auto;
  padding: 18px;
  border: 1px solid #dadadf;
  border-radius: 2px;
}
  
.chatBox {
  background-color: #eeeeee;
  border: 1px solid #dadadf;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 2px;
}