.Form {
  border: none;
  background-color: #f8f8f8;
  box-shadow: inset 0 2px 4px 1px #0000001a;
}
  
.Button {
  border: none;
  background-color: #f03800;
  color: #ffffff;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}
  
.Button:hover {
  cursor: pointer;
  background-color: #f03800;
  color: #ffffff;
}