.Form {
  border: 1px solid #dadadf;
  box-sizing: border-box;
  color: #7177a1;
  padding: 10px;
}
  
.Button {
  border: none;
  background-color: #f03800;
  color: #ffffff;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}
  
.Button:hover {
  cursor: pointer;
  background-color: #f03800;
  color: #ffffff;
}