.container {
    border: 1px solid #dadadf;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px #0000001a;
}
  
.contactAndIconsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.NavLink {
    display: inline-block;
}
  
  
.NavLink img {
    width: 40px;
    height: 40px;
}

.copyright {
    text-align: center;
    font-size: 12px;
}