.container {
    border: 1px solid #ccc;
    background-color: white;
}
  
.contactAndIconsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.NavLink {
    display: inline-block;
}
  
  
.NavLink img {
    width: 40px;
    height: 40px;
}

.copyright {
    text-align: center;
    font-size: 12px;
}
  