.commentContainer {
  border: 1px solid #dadadf;
  padding: 10px;
  margin-bottom: 10px;
}
  
.commentHeader {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
  
.commentProfileLink {
  text-decoration: none;
  color: #696969;
}
  
.commentProfileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
  
.commentOwner {
  font-weight: bold;
  margin-right: 5px;
}
  
.commentDate {
  color: #696969;
  font-size: 0.8rem;
}
  
.commentContent {
  margin-top: 5px;
}